body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.courses .selected{

}

.learning-styles .selected {
  color: #70af1e;
}

.study-preferences .selected {
  color: #368dd5;
}

.noise-factor .selected {
  color: #e1ac26;
}

.location .selected{
  color: #6347b2;
}
