<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
  <h5>Studiosus</h5>
</head>
<body>
  <div id ="yourProfile" name="yourProfile" title="Your Profile" style="font-family: Helvetica; font size: 14pt; border: 1 px solid black;">
    <div id="subDiv1" name="subDiv1" title="Subdivision Div Element" style="color: black;">
      <img src= "...">
      <h5>First Name</h5>
      <p>Bio Content</p>
    </div>
    <div id="subDiv2" name="subDiv2" title="Subdivision Div Element" style="color: black;">
      <table>
        <tr>
          <th>Courses</th>
          <!-- Display the chosen courses in little boxes
          <th>display: inline; </th>
        -->
        </tr>
        <tr>
          <td>Learning Styles</td>
          <td> <div class="list-group">
            <!--
              Only show if the student has selected these in their profile. These should be displayed as a list in a single row.
            display: inline;
            <a class="list-group-item" href="#"><i class="fa fa-assistive-listening-systems fa-fw" aria-hidden="true"></i>&nbsp; </a>
            <a class="list-group-item" href="#"><i class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp; </a>
            <a class="list-group-item" href="#"><i class="fa fa-hand-paper-o fa-fw" aria-hidden="true"></i>&nbsp; </a>
            <a class="list-group-item" href="#"><i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>&nbsp; </a>
            <a class="list-group-item" href="#"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>&nbsp; </a>

          -->
          </div>
          </td>
        </tr>
        <tr>
          <td>Study Preferences</td>
          <td> <div class="list-group">
            <!--
              Only show if the student has selected these in their profile. These should be displayed as a list in a single row.
              display: inline;
            <a class="list-group-item" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; </a>
            <a class="list-group-item" href="#"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; </a>

          -->
        </div>
        </td>
      </tr>
      <tr>
        <td>Noise Factor</td>
        <td> <div class="list-group">
          <!--
            Only show if the student has selected these in their profile. These should be displayed as a list in a single row.
              display: inline;
          <a class="list-group-item" href="#"><i class="fa fa-music fa-fw" aria-hidden="true"></i>&nbsp; </a>
          <a class="list-group-item" href="#"><i class="fa fa-volume-up fa-fw" aria-hidden="true"></i>&nbsp; </a>
          <a class="list-group-item" href="#"><i class="fa fa-volume-off fa-fw" aria-hidden="true"></i>&nbsp; </a>

        -->
        </div>
        </td>
      </tr>
      <tr>
        <td>Study Location</td>
        <td> <div class="list-group">
          <!--
            Only show if the student has selected these in their profile. These should be displayed as a list in a single row.
              display: inline;
          <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; </a>
          <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; </a>
          <a class="list-group-item" href="#"><i class="fa fa-building fa-fw" aria-hidden="true"></i>&nbsp; </a>
          <a class="list-group-item" href="#"><i class="fa fa-coffee fa-fw" aria-hidden="true"></i>&nbsp; </a>
        -->
      </div>
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>
